<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <p>Logged in user: {{ app.user }}</p>
        <p><a href="{{ app.request.headers.get('referer') }}">Back</a></p>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
