{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transaction list</h1>

    {% include ':transaction/partial:transaction_list.html.twig' %}

    <ul>
        <li>
            <a href="{{ path('transaction_new') }}">Create a new transaction</a>
        </li>
    </ul>

{% endblock %}
